.logo {
    font-size: 1.5vw;
    width: 26em;
    height: 9em;
    overflow: hidden;
    display: flex;
    font-family: "Arial Rounded MT Bold", arial, Sans-Serif;
    font-weight: bold;
    user-select: none;
}

.logo .l {
    height: 100%;
    width: 35%;
    overflow: hidden;
    position: relative;
}

.logo .r {
    height: 100%;
    width: 65%;
    overflow: hidden;
    position: relative;
}

.logo .l > div {
    width: 6em;
    height: 6em;
    background: #5e35b1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 1;
    border-radius: 0.5em;
    overflow: hidden;
}

.logo .l > div:before {
    content: "";
    width: 7em;
    height: 9em;
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-45deg) translate(-40%, -10%);
    z-index: 1;
}

.logo .l > div:after {
    content: "";
    width: 9em;
    height: 9em;
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-45deg) translate(0, -26%);
    z-index: 1;
}

.logo .l > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    font-size: 5em;
}

.logo .r > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}
