body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
    padding: 0;
    border-radius: 50%;
    z-index: 999;
    border: 1vw double rgba(255, 255, 255, 0.3);
    pointer-events: none;
}

.logo {
    animation: bounce 0.5s infinite ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-5px);
    }
}
